@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic);

body {font-family: 'Source Sans Pro', sans-serif; font-size: 14px; color: #666;}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.popupContainer{
	position:absolute;
	width:510px;
	overflow: hidden;
	background: #FFF;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

#modal_trigger {margin:5px auto; width:210px; display:block;}

.action_btns{
}


.btn btn_red {
	width:360px;
	right:100px; 
	position:relative; 
	right:-500px; 
	top:50px;  
	color: #FFF;
	text-align: center;
	background-color: #ED6347;}
.btn{}
.btn:hover {background: #ED6347 ;color: #FFF; text-align: center;}



a.btn {color:#ED6347; text-align: center; text-decoration: none;}
a.btn_red {color: #FFF;}

.one_half {width:50%; display: block; float:left;}
.one_half.last {width:45%; margin-left:5%;}

/* Popup Styles*/
.popupHeader {
	text-transform: uppercase; 
	border-top-right-radius:5px; 
	-moz-border-top-right-radius:5px; 
	-webkit-border-top-right-radius:5px;
	background:  #FF9797  ; 
	position:relative; 
	padding:10px 20px; 
	border-bottom:2px solid   #ff7575  ; 
	font-weight:bold; 
	color:#fff; 
	font-size:20px;
	text-align: center;
	}
	
.popupHeader .modal_close {position: absolute; right: 0; top:0; padding:10px 15px; background:#E4E4E2; cursor: pointer; color:#fff; font-size:16px;text-align: center;}

.popupBody {padding:10px;}

/*popup content*/
.articleGenre{ 
	position:relative; 
	float:left;
	border:0.5px solid  #d0d0d0;  
	border-radius:5px; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	font-size:12px;
	width:50px ; 
	height:38px;
	}
	
.articleTitle{
	width:5px;
	position:relative; 
	float:left; 
	left:50px;
	top:-38px;
	border:0.5px solid   #F0F0F0 ;
	border-radius:5px; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px;
	margin-left:5px;
	}
	
.articleTextArea{ 	
	width:490px;
	height:100px;
	float:right;
	position:relative; 
	right:0; 
	top:-20px; 
	clear:both; 
	overflow: hidden;
	border:0.5px solid   #d0d0d0; 
	border-radius:5px; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px;
	}
.error_title{
	color:#c91924;
	font-size:10px;
	float:right;
	position:relative; 
	right:5px;
	top:5px; 
}

.error_content{
	color:#c91924;
	font-size:10px;
	float:left;
	position:relative; 
	top:15px;
}
/* Social Login Form */
.social_login {}
.social_login .social_box {display:block; clear:both; padding:10px; margin-bottom: 10px; background: #F4F4F2; overflow: hidden;}
.social_login .icon {display:block; width:10px; padding:5px 10px; margin-right: 10px; float:left; color:#FFF; font-size:16px; text-align: center;} 
.social_login .fb .icon {background:#3B5998;}
.social_login .google .icon {background:#DD4B39;}
.social_login .icon_title {display:block; padding:5px 0; float:left; font-weight: bold; font-size: 16px; color:#777;}
.social_login .social_box:hover {background: #E4E4E2;}

.centeredText {text-align: center; margin: 20px 0; clear: both; overflow: hidden; text-transform: uppercase;}

.action_btns a {display: block;}

/* User Login Form */

.user_login label {display: block; margin-bottom:5px;}
.user_login input[type="text"], .user_login input[type="email"], .user_login input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_login input[type="checkbox"] {float:left; margin-right:5px;}
.user_login input[type="checkbox"]+label {float:left;}

.user_login .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}
.forgot_password {display:block; margin: 20px 0 10px; clear: both; overflow: hidden; text-decoration: none; color:#ED6347;}

